USE [EzManage]
GO
/****** Object:  Table [dbo].[CSVC]    Script Date: 06/28/2019 12:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CSVC](
	[IDCSVC] [varchar](50) NOT NULL,
	[TENCSVC] [nvarchar](100) NULL,
	[NGAYNHAP] [date] NULL,
	[SL] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCSVC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASSWORD]    Script Date: 06/28/2019 12:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSWORD](
	[ID] [varchar](20) NOT NULL,
	[USERNAME] [nvarchar](20) NOT NULL,
	[PASS] [nvarchar](100) NOT NULL,
	[ACCESSLEVEL] [int] NOT NULL,
 CONSTRAINT [PK__PASSWORD__3214EC27439C141F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 06/28/2019 12:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MASACH] [varchar](50) NOT NULL,
	[TENSACH] [nvarchar](100) NOT NULL,
	[TENTG] [nvarchar](100) NOT NULL,
	[NGAYXB] [smalldatetime] NOT NULL,
	[LANTAIBAN] [int] NOT NULL,
	[GIA] [int] NOT NULL,
	[THELOAI] [nvarchar](100) NOT NULL,
	[GHICHU] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASACH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALARY]    Script Date: 06/28/2019 12:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALARY](
	[ID] [varchar](20) NOT NULL,
	[MONTH] [varchar](10) NOT NULL,
	[YEAR] [int] NOT NULL,
	[TOTALTIME] [int] NULL,
	[BS] [int] NOT NULL,
	[ADDS] [int] NULL,
	[SLR] [int] NULL,
	[SALARYLV] [float] NULL,
 CONSTRAINT [PK__SALARY__3214EC275E60A51A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[MONTH] ASC,
	[YEAR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLR_TEMP]    Script Date: 06/28/2019 12:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLR_TEMP](
	[ID] [varchar](20) NOT NULL,
	[SUMHOUR] [int] NOT NULL,
	[DATE] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 06/28/2019 12:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[ID] [varchar](20) NOT NULL,
	[FULLNAME] [nvarchar](50) NOT NULL,
	[DOB] [date] NULL,
	[LOCA] [nvarchar](50) NOT NULL,
	[SEX] [int] NOT NULL,
	[PHONE] [varchar](20) NOT NULL,
	[PAYRATE] [float] NOT NULL,
	[BASICRATE] [int] NOT NULL,
	[ALLOWENCE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFFLOG]    Script Date: 06/28/2019 12:54:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFFLOG](
	[ID] [varchar](20) NOT NULL,
	[LOGINTIME] [datetime] NOT NULL,
	[LOGOUTTIME] [datetime] NOT NULL,
	[LV] [int] NOT NULL,
	[USERNAME] [nvarchar](20) NOT NULL,
	[WTIME] [int] NOT NULL,
 CONSTRAINT [SL_PRIMARYKEY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[LOGINTIME] ASC,
	[LOGOUTTIME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SACH] ADD  CONSTRAINT [dfLanTaiBan]  DEFAULT ((0)) FOR [LANTAIBAN]
GO
ALTER TABLE [dbo].[SACH] ADD  CONSTRAINT [dfTheLoai]  DEFAULT ('Khong xac dinh') FOR [THELOAI]
GO
ALTER TABLE [dbo].[PASSWORD]  WITH CHECK ADD  CONSTRAINT [FK_PW_ST0] FOREIGN KEY([ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[PASSWORD] CHECK CONSTRAINT [FK_PW_ST0]
GO
ALTER TABLE [dbo].[SALARY]  WITH CHECK ADD  CONSTRAINT [FK_SLR_ST] FOREIGN KEY([ID])
REFERENCES [dbo].[STAFF] ([ID])
GO
ALTER TABLE [dbo].[SALARY] CHECK CONSTRAINT [FK_SLR_ST]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [checkGia] CHECK  (([GIA]>(0)))
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [checkGia]
GO

insert into STAFF values ('0', 'Administrator', '1/1/1999', 'Local', 1, '000001', 2, 1000000, 300000)
insert into PASSWORD values ('0', 'admin', '1', 2)